@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script type="text/JavaScript">
      setTimeout("location.href = 'https://localhost:44374/Cadete/IndexCliente';",2000);
</script>

<p>No se puede comunicar con la base de datos, el cadete no fue eliminado</p>