@{
    ViewData["Title"] = "Cadeteria Page";
}

<div class="text-center">
    <h1 class="display-4">Lista de cadetes</h1>
    @model List<tallerIIpractico3.entities.Cadete>




   
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Cantidad de pedidos</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Nombre</td>
        <td>@item.Direccion</td>
        <td>@item.Pedidos.Count</td>
    </tr>
     }
    </table>

</div>
