@model List<tallerIIpractico3.entities.Cadete> 

@{
    ViewData["Title"] = "CreateView";
}



<h4>Pedido - Nuevo Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Pedido" asp-action="CreatePedido">
            
            
            <div class="form-group">
                <label for="obs" class="form-label">Observaciones</label>
                <input type="text" id="obs" class="form-control" name="obs" placeholder="Paquete mediano 2Kg" required>    
            </div>

             <div class="mb-3">
                <label for="nom" class="form-label">Nombre</label>
                <input type="text" id="nom" class="form-control" name="nom" placeholder="Ozzy Osbourne" required>
            </div>
            <div class="mb-3">
                <label for="dir" class="form-label">Dirección</label>
                <input type="text" id="dir" class="form-control" name="dir" placeholder="Av Belgrano 1987" required>
            </div>
            <div class="mb-3">
                <label for="tel" class="form-label">Teléfono</label>
                <input type="text" id="tel" class="form-control" name="tel" placeholder="3816726789" required>
            </div>
            <div class="mb-3">
                <label for="cadete" class="form-label">Cadete</label>
                <select id="cadete" name="cadeteId">
                    <option value="">Seleccione</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
