@{
    ViewData["Title"] = "Home Page";
}

<div class="" style="border-bottom: solid black 1px; border-left: solid black 1px; padding: 1em ">
    
    <a asp-area="" asp-controller="Cadete" asp-action="Index"> 
        <img src="~/img/cadete2.png" class="border border-secondary" style="width: 90px">
    </a>
    <a asp-area="" asp-controller="Pedido" asp-action="Index">
        <img src="~/img/pedido.jpg" class="border border-secondary" style="width: 84px">
    </a>

</div>
