@{
    ViewData["Title"] = "Home Page";
}

<div class="" style="border-bottom: solid black 1px; border-left: solid black 1px; padding: 1em ">
    <div class="botones-home">
        <a asp-area="" asp-controller="Cadete" asp-action="Index">
            <img src="~/img/cadete.jpg" style="width: 82px" class="border border-secondary">
            <div class="overlay">
                <div class="text" style="margin-top: 25px">Cadetes</div>
            </div>
        </a>
    </div>
    <div class="botones-home">
        <a asp-area="" asp-controller="Pedido" asp-action="Index">
            <img src="~/img/pedido.jpg" style="width: 82px" class="border border-secondary">
            <div class="overlay">
                <div class="text" style="margin-top: 25px">Pedidos</div>
            </div>
        </a>
    </div>

</div>
