@model tallerIIpractico3.ViewModel.UsuarioABMViewModel;

@{
    ViewData["Title"] = "CreateUsuarioView";
}
@if (Model.UserLog != null)
{
    if(Model.UserLog.User == "admin")
    {
        @await Html.PartialAsync("MenuAdmin", Model.UserLog);

        <hr />

        <div class="row">
            <div class="col-md-4">
                <form asp-controller="Usuario" asp-action="SaveUsuario">
                <fieldset>
                <legend>Nuevo Usuario</legend>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
                    <div class="form-group">
                        <label asp-for="Usuario.Nombre" class="control-label"></label>
                        <input asp-for="Usuario.Nombre" class="form-control" />
                        <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Usuario.User" class="control-label"></label>
                        <input asp-for="Usuario.User" class="form-control" />
                        <span asp-validation-for="Usuario.User" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Usuario.Pass" class="control-label"></label>
                        <input asp-for="Usuario.Pass" type="password" class="form-control" />
                        <span asp-validation-for="Usuario.Pass" class="text-danger"></span>
                    </div>
                    </fieldset>
                    <div class="form-group">
                        <input type="submit" value="Enviar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
        <a asp-action="ListaDeUsuarios">Lista de Usuarios</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    }

    
}else
{
    <script type="text/JavaScript">
      setTimeout("location.href = 'https://localhost:44374/';",2000);
    </script>

    <p>No tiene permiso para estar en esta pagina</p>
}