@model tallerIIpractico3.ViewModel.UsuarioViewModel


<header>
        
   <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <a asp-controller="Home" asp-action="Index" style="margin-right: 5px; text-decoration:none; font-size:2em">Cadeteria</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">

                        <li class="dropdown" style="margin-right:4px">
                            <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cadete
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Cadete" asp-action="CreateView">Agregar Nuevo</a>
                                <a class="dropdown-item" asp-controller="Cadete" asp-action="IndexCadete">Lista</a>
                            </div>
                        </li>
                        <li class="dropdown" style="margin-right:4px">
                            <button class="btn btn-outline-primary" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pedido
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Pedido" asp-action="CreateView">Agregar Nuevo</a>
                                <a class="dropdown-item" asp-controller="Pedido" asp-action="IndexPedido">Lista</a>
                                <a class="dropdown-item" asp-controller="Pedido" asp-action="IndexPedidoByID">Lista por Cadete</a>
                            </div>
                        </li>
                        <li class="dropdown" style="margin-right:4px">
                            <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cliente
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Cliente" asp-action="CreateView">Agregar Nuevo</a>
                                <a class="dropdown-item" asp-controller="Cliente" asp-action="IndexCliente">Lista</a>
                            </div>
                        </li>
                         
                        
                        <li class="dropdown" style="margin-right:4px">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Model.User
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Usuario" asp-action="Logout">Logout</a>
                            </div>
                        </li>

                    </ul>
                    
                </div>
            </nav>
    </header>