@{
    ViewData["Title"] = "Crear Cadetes";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <form asp-controller="Cadete" asp-action="agregarCadete" method="post">
                <fieldset>
                    <legend class="">Registrar un cadete</legend>
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nombre</label>
                        <input type="text" id="nom" class="form-control" name="nom" required>
                    </div>
                    <div class="mb-3">
                        <label for="dni" class="form-label">DNI</label>
                        <input type="text" id="dni" class="form-control" name="dni" required>
                    </div>
                    <div class="mb-3">
                        <label for="dir" class="form-label">Dirección</label>
                        <input type="text" id="dir" class="form-control" name="dir" required>
                    </div>
                    <div class="mb-3">
                        <label for="tel" class="form-label">Teléfono</label>
                        <input type="text" id="tel" class="form-control" name="tel" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

