@{
    ViewData["Title"] = "Cadetes Page";
}
@model List<tallerIIpractico3.entities.Cadete>



<div class="text-center">
    <h2 class="display-4">Lista de cadetes</h2>
</div>

<button type="button" asp-action="CreateCadete" class="btn btn-primary">Crear Cadete</button>

<div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Cantidad de pedidos</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
                <td>@item.Pedidos.Count</td>
            </tr>
        }
    </table>
</div>

